body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


#homepage{
	display: none;
	text-align: center;
}
#welcome{
	font-size: 25vh;
	color: green;
	margin-bottom: 0px;
	font-family: "Courier New", "Lucida Console", monospace;
}
#credit{
	position: fixed;
	top: 0%;
	right: 0%;
}
#me-waving{
	height: 50vh;
	width: 75vh;
	box-shadow: 10px 10px 5px hsl(0, 0%, 33%);
	margin-top: 0px;
}
#continue{
	font-size: 10vh;
	color: green;
	font-family: "Courier New", "Lucida Console", monospace;
}
#continue:hover{
	color: orange;
	font-size: 12vh;
}
#reach{
	margin-bottom: 0px;
	font-family: "Arial", Helvetica, sans-serif;
}



#projects-page{
	margin-left: 8vw;
	margin-right: 8vw;
}
#projects-title{
	text-align: center;
	font-size: 5vh;
	margin-bottom: 1vh;
	margin-top: 0px;
}
.project{
	display: inline-block;
	text-align: center;
	margin-top: 0px;
}
.title{
	font-size: 4vh;
	text-decoration: none;
}
.iframe{
	height: 35vh;
	width: 35vw;
}
.description{
	width: 33vw;
	text-align: justify;
	border: 1px solid grey;
	padding: 1vw;
	background-color: white;
}
.click{
	font-size: 4vh;
	width: 4vh;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
	padding: 0px;
	border-radius: 50%;
}
#top-left{
	margin-right: 8vw;
	margin-bottom: 8vh;
}
#top-right{
	margin-bottom: 8vh;
}
#bottom-left{
	margin-right: 8vw;
}


@media (max-width: 700px){
	.iframe{
		height: 75vh;
		width: 75vh;
		margin-top: 1vh;
	}
	.project{
		display: block;
	}
	.description{
		width: 73vh;
		margin: auto;
	}
	#top-left{
		margin: auto;
		margin-bottom: 5vh;
	}
	#top-right{
		margin: auto;
		margin-bottom: 5vh;
	}
	#bottom-left{
		margin: auto;
		margin-bottom: 5vh;
	}
}



#about_me{
	text-align: center;
}
#about_me-title{
	font-size: 5vh;
}
#profile{
	text-align: right;
	display: inline-block;
	height: 50vh;
}
.point h3{
	font-size: 3vh;
	margin-bottom: 3vh;
	margin-top: 0px;
}
#top{
	margin: auto;
/*	border: 2px solid black;
	width: 75vw;*/
}
.table{
	height: 30vh;
	width: 75%;
	margin: auto;
/*	border: 2px solid black;*/
/*	border-top: 0px;*/
	text-align: center;
}
.tab{
	margin-bottom: 0px;
	margin-top: 0px;
}
.section{
	display: inline-block;
	width: 24vw;
}
#me{
	height: 50vh;
	width: 65vh;
}
.selected{
	border: 2px solid black;
	background-color: white;
/*	border-top: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 0px;*/
}
#middle{
/*	border-bottom: 5px solid black;*/
/*	width: 75%;*/
	margin: auto;
}
.head{
	font-weight: bold;
	font-size: 3vh;
}
td{
	max-width: 15vh;
/*	margin: 5vw;*/
/*	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;*/
	border: 2px solid black;
	background-color: white;
}


@media (max-width: 700px){
	#profile{
		text-align: center;
		width: 65vh;
/*		border: 2px solid black;
		margin-bottom: 5px;*/
	}
}


#links-page{
	margin: auto;
	text-align: center;
}
#stuff{
	border: 5px solid black;
	box-shadow: 10px 10px 5px hsl(0, 0%, 50%);
	width: 50vw;
	height: 78.25vh;
	margin: auto;
	color: red;
	background-color: black;
}
.page-link{
	border: 2px solid grey;
	height: 15vh;
	background-color: black;
	font-size: 3vh;
}
.page-link h1{
	margin-top: 2vh;
	margin-bottom: 1.5vh;
}
#link-link{
	color: turquoise;
	font-size: 3vh;
}


#navbar{
	position: fixed;
	top: 0px;
	background-color: white;
	margin-bottom: 0px;
}
.link{
	background-color: white;
	margin-left: 10vw;
}
#first{
	margin-left: 0px;
}