<navbar></navbar>
<div class="container">
    <h1 id="about_me-title" class="text-center">About Me</h1>
    <div id="top" class="row">
        <section class="col-md-6 text-left profile">
            <div class="point-ab" ng-repeat="(key, value) in profile">
                <h3>{{key}}: {{value}}</h3></div>
        </section>
        <table class="col-md-6 centered">
            <tbody>
                <tr>
            <td>
            <img src="Pictures/Snapshot_20160421.JPG" id="me">
            </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="no-margin">
    <div class="row">
    <ul id="middle" class="nav nav-tabs col-md-12 justify-content-center">
        <li id="work" class="nav-item">
            <a ng-click="toggle('work')" ng-class="{selected: active}" href="#" class="nav-link">Work Experience</a>
        </li>
        <li id="education" class="nav-item">
            <a ng-click="toggle('education')" ng-class="{selected: active}" href="#" class="nav-link">Education</a>
        </li>
        <li id="skills" class="nav-item">
            <a ng-click="toggle('skills')" ng-class="{selected: active}" href="#" class="nav-link">Skills</a>
        </li>
    </ul>
</div>
<div class="row my-table">
    <div id="bottom" class="col-md-12">
        <table id="work-table" class="table table-bordered" ng-show="show_work==true">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Dates</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in work">
                    <td>{{job.name}}</td>
                    <td>{{job.dates}}</td>
                    <td>{{job.position}}</td>
                </tr>
            </tbody>
        </table>
        <table id="education-table" class="table table-bordered" ng-show="show_education==true">
            <thead>
                <tr>
                    <th>Institution</th>
                    <th>Dates</th>
                    <th>Location</th>
                    <th>Subjects Studied</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in education">
                    <td>{{entry.name}}</td>
                    <td>{{entry.dates}}</td>
                    <td>{{entry.location}}</td>
                    <td>{{entry.studied}}</td>
                </tr>
            </tbody>
        </table>
        <table id="skills-table" class="table table-bordered" ng-show="show_skills==true">
            <tbody>
                <tr ng-repeat="row in skills">
                    <td ng-repeat="skill in row">{{skill}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
