<navbar></navbar>
<div id="projects-page">
    <h1 id="projects-title">My Projects</h1>
    <section id={{project.id}} class="project" ng-repeat="project in projects">
        <div>
            <a href={{project.link}} class="title">{{project.title}}</a>
            <button ng-click="toggle(project.title)" ng-show="project.show==false" class="click">+</button>
            <button ng-click="toggle(project.title)" ng-show="project.show==true" class="click">-</button>
        </div>
        <p class="description" ng-show="project.show==true">{{project.description}}</p>
        <iframe class="iframe" src={{project.link}}></iframe>
    </section>
</div>
